body{
    background-color: white;
    margin: 0;
}

h1{
    color: blue;
    text-align: center;
}

img{
    width: 400px;
}

@media screen and (max-width:480px){
    body{
        background-color: blue;
    }
    img{
        max-width: 100%;
    }
}

@media screen and (max-width:280px){
    h1{
        font-size: 10px;
        color: #ffffff;
    }
    .box{
        display: none;
    }
}
